* {
    box-sizing: border-box;
    padding: 0%;
    margin: 3%;
}

body{
    position:relative;
    background-color:peachpuff;
    margin-top:0%;
    padding-top:0%;
}
.topbox nav a {
    color:peachpuff;
    text-align: center;
    margin-bottom:5%;
    margin-top:0%;
}
.topbox {
    background-color:darkred;
    color:peachpuff;
    font-style: italic;
    align-content: center;
    font-size: 250%;
    max-width: 100%;
}

.me1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: auto;
    
}
.topbox h1 {
    justify-content:center; 
}
.barlinks {
    display:flex;
    justify-content: center;
    align-content: space-between;
    font-size: 40%;
    color: peachpuff;
    
}
.barlinks a:hover {
    color:lightgoldenrodyellow;
    text-shadow: 2px 2px 4px #1095c1;
    font-weight: bolder;
}

h1 {
    display:flex;
    justify-content: center;
    margin-top:2%;
}
.aboutme {
   margin-left:3%;
   padding: 1.5%;
   clear:both;
   float:left;
   width: 35%;
   height:5%;
   background: linear-gradient(peachpuff,rgb(145, 35, 35));
   font-weight:800;
   margin-top:0%;
   margin-left:5%;
}
.justifyright {
    float:right;
    margin-left: 55px;
    height: auto;
}
.justifyleft {
    float:left;
    margin-left: .5%;
    height: 100%;
    width: 100%;
}
.pro-1 {
    width:50%;
    padding: 0%;
    margin-top:0%;
    background-color: peachpuff;
    display:flex;
    flex-wrap:wrap;
    justify-items: center;
    height:45%;
    justify-content: space-evenly;
    margin-left: 40%;
}
.projects img {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    border-radius: 10%;
    height:16em;
    margin-right:2%;
}
#HTML-Bootcamp-Study-Guide {
    display:flex;
    flex-wrap:wrap;
    width: 500%;
    border-radius: 10%;
    height: 18em;
    margin-right: 2%;
}
.marketimg {
    display:flex;
    flex:0 0 20%;
    margin-left: 1%;
    margin-right: 0%;
    width:100%;
}
div h2 a:link {
    text-decoration: None;
    font-size:90%;
    width: 90%;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    margin-left:-5%;
}

.projects {
    display: flex;
    border-style:solid;
    border-radius: 10%;
    flex: 0 0 70%;
    margin:0% 0% 4% 15%;
    font-size: 75%;
    height:8%;
}
#HTML-Bootcamp-Study-Guide {
    display:flex;
    border-style: solid;
    border-radius: 10%;
    flex: 0 0 100%;
    margin 0% 0% 4% 15%;
    font-size: 100%;
    height: 50%;
}
form {
    margin: 0 auto;
    width: 50%;
    /* padding: 10px; */
    border: 5px solid;
    border-radius: 30px;
    text-align: left;
}
input,text area li{
    box-sizing: border-box;
    width: 85%;
    height:20%;
}
button {
    height: 30px;
    width: 120px;
    text-align: center;
    font-weight:bolder;
    color:darkred;
}
.My-links {
    font-size:150%;
    font-weight: bolder;
    color: rgb(145, 35, 35);
}
.Fixed-Header {
    text-align:center;
    font-weight:600;
    color:darkgray;
}
.Contact-Form, h2 {
    text-align:center;
    color:rgb(145, 35, 35);
}
.BG-color {
    margin: 0% 0% 0% 25%;
}
.BG-color u1 li {
    margin: 2% 65% 0% 2%;
    padding:0%;
}
@media screen and (max-width:992px) {
    .projects img {
        justify-content: center;
        margin-right:.5%;
    }

    .aboutme {
        margin-left:5%;
        width: 30%;
    }
    .projects {
        flex: 0 0 85%;
        margin: 2% 0% 10% 15%;
        height: 5%;
        
    }
    
@media screen and (max-width:768px) {
    .aboutme {
        margin-left: 3%;
        width: 40%;
    }
    .projects img {
        height: 10em;
        width: 9em;
    }
    .projects {
        margin: 5% 0% 2% 15%;        
        height:17em;
        padding: 5%;
    }
   .Contact-Form, h2 {
    padding-top: 30%;
    margin-top:15%;
   }
   .BG-color li {
    margin-left: 5%;
   }
}
@media screen and (max-width: 576px) {
    .aboutme {
        margin-left: -1.5%;
        width: 100%;
    }
    .bannercoming {
        width:100%
    }
    .bannercoming img{
        display:flex;
        width:90%;
        margin-
    }
    .pro-1 {
        margin-left: 25%;
    }
    .projects {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        height: 15%;
    }
    .projects img {
        display: flex;
        flex-direction: column;
        margin: 1% 9% 9% 15%;
    }
        .Contact-Form h2 {
        display:flex;
        flex-direction: column;
        margin: 1% 5% 9% 20%;
        height:7em; 
        padding-top:30%;
    }
    .BG-color li {
        margin-left: 7%;
    }
}