* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color:peachpuff;

}
.header {
    background-color: darkred;
    color:aliceblue

}
.header nav u1 a {
    margin:0%;
}
nav {
    display:flex;
    justify-content: flex-end;
    align-content: space-between;
    margin-right: 3%;
    font-size: large;
    
}
.header nav ul a {
    display:inline-flex;
    margin-left: 25px;
    color:aliceblue;
    margin-top:0%;
}